/* This CSS file implements the layout for the Projects section. */

/* Default the cards to display as blocks for mobile view. */
.cards {
  display: block;
  margin: 1rem;
  padding: 1rem;
  border-style: solid;
  border-color: var(--pink-leaf);
}

.cards-section {
  text-align: center;
  color: var(--black);
}

/* Default the images to display as centered blocks for mobile view. */
.cards-img {
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 10%;
}

/* Create a button for the anchor change its color when hovered over. */
.cards-button {
  display: block;
  border: 0;
  padding: 1rem;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: var(--black);
  background-color: var(--pink-leaf);
}

.cards-button:hover {
  color: var(--black);
  background-color: var(--sleuthe-yellow);
}

/* Any viewing width greater than the default mobile view should display the 
cards as inline blocks. Sets margin and width as percentages so it will flow
with viewing screen expansion. */
@media (min-width: 1024px) {
  .cards {
    display: inline-block;
    margin: 1.5%;
    width: 30%;
  }

  .cards-img {
    width: 100%;
  }
}
