/* This CSS file implements the layout for the Projects section. */

.projects-intro {
  text-align: center;
  font-style: italic;
  margin: 1rem;
  padding: 1rem;
}

/* Default the cards to display as blocks for mobile view. */
.cards {
  display: block;
  margin: 1rem;
  padding: 1rem;
  border-style: solid;
  border-color: var(--pink-leaf);
}

.cards-section {
  text-align: center;
  color: var(--coral-pink);
}

/* Default the images to display as centered blocks for mobile view. */
.cards-img {
  display: block;
  margin: 0 auto;
  width: 300px;
  border-radius: 10%;
}

.cards-button {
  display: block;
  border: 0;
  padding: 1rem;
  width: 100%;
  color: var(--white);
  background-color: var(--coral-pink);
}

.cards-button:hover {
  color: var(--black);
  background-color: var(--sleuthe-yellow);
}

/* Any viewing width greater than the default mobile view should display the
     cards as inline blocks. Sets margin and width as percentages so it will flow
     with viewing screen expansion. */
@media (min-width: 1024px) {
  .cards {
    display: inline-block;
    margin: 1.5%;
    width: 30%;
  }

  .cards-img {
    width: 100%;
  }
}

/* test
.cards {
  position: relative;
  display: inline-block;
}

.project-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cards:hover .project-info {
  opacity: 1;
} */
